$primary-color:rgb(58, 162, 211);
$dark-color:rgb(70, 69, 69);
$light-color:rgb(239, 245, 239);
$success-color:green;
$danger-color:rgb(172, 5, 60);
$max-width:1100px;

// set text color based on the background
@function set-text-color($color){
    @if(lightness($color)>50){
        @return rgb(231, 218, 218);
    }@else{
        @return #fff;
    }
}

// ustaw background
@mixin set-background($color){
      background-color:$color;
        color:set-text-color($color);
}

// .my-1{
//     margin:11rem 0rem;
// }
// margin and padding
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
    .m-#{$space}{
        margin:#{$space}rem;
    }
        .my-#{$space}{
        margin:#{$space}rem 0rem;
    }
     .p-#{$space}{
        padding:#{$space}rem;
    }
        .my-#{$space}{
        padding:#{$space}rem 0rem;
    }
}
