.form{
    &-group{
        margin:1.2rem 0rem;
    }
    &-text{
        display:block;
        margin-top:0.3rem;
        color:#222;
    }

    input[type="text"],
    input[type='email'],
    input[type="password"],
    input[type="date"],
    select,
    textarea{
        display:block;
        width:100%;
        padding:0.7rem;
        font-size: 1.6rem;
    }
}