.HomePage {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-text {
	color: white;
	text-align: center;
	font-size: 2.6rem;
	span {
		color: #037fff;
	}
}

.h-sub-text {
	text-align: center;
	margin-top: 35px;
}

.red {
	font-size: 24px;
	color: rgb(155, 6, 6);
	text-align: center;
	margin-top: 50px;
}

.icons {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 0;
	.icon-holder {
		.icon {
			font-size: 2.8rem;
			color: #a4acc4;
			transition: all 0.4s ease-in-out;
		}
		.gh:hover {
			color: #037fff;
		}
	}
}

.packages {
	display: flex;
	margin-top: 50px;
	width: 100%;

	.frontend {
		display: flex;
		flex-direction: column;
		width: 50%;
		.frontend-packages {
			flex-wrap: wrap;
			div::before {
				content: " -   ";
				margin-right: 5px;
				font-size: 20px;
			}
			div {
				margin: 5px;
				font-size: 15px;
				@media screen and (max-width: 1000px) {
					font-size: 11px;
				}
			}
		}
	}
	.backend {
		display: flex;
		flex-direction: column;
		width: 50%;
		flex-direction: column;
		.backend-packages {
			flex-wrap: wrap;
			div::before {
				content: " -   ";
				margin-right: 5px;
				font-size: 20px;
			}
			div {
				margin: 5px;
				font-size: 15px;
				@media screen and (max-width: 1000px) {
					font-size: 11px;
				}
			}
		}
	}
}

@media (max-width: 800px) {
	.packages {
		display: none;
	}
}
