.App{
    .sidebar{
        width: 16%;
        height: 100vh;
        background-color: #191919;
        position: fixed;
        z-index: 11;
        border-right: 3px solid #2a2c33;
        transform-origin: left;
        @media screen and (max-width: 1000px){
            transition: all .4s ease-in-out;
            transform: translateX(-100%);
            width: 30%;
        }
        @media screen and (max-width: 411px){
            width: 50%;
        }
    }
    .nav-toggle{
        @media screen and (max-width: 1000px){
            transition: all .4s ease-in-out;
            transform: translateX(0);
        }
    }

    .main-content{
        width: 84%;
        margin-left: 16%;
        min-height: 100vh;
        background-image: url(../img/wood-background.jpg);
         background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        position: relative;
        transition:all 0.4s ease-in-out;
        .content{
          padding:50px 50px;
            @media screen and (max-width: 2200px){
                margin: 1rem 10rem;
            }
            @media screen and (max-width: 1100px){
                margin: 3rem 6rem;
            }
            @media screen and (max-width: 1400px){
                margin: 2rem 4rem;
            }
            @media screen and (max-width: 1400px){
                margin: 3rem 4rem;
            }
            @media screen and (max-width: 710px){
                margin: 2rem 3rem;
            }
        }
        @media screen and (max-width: 1000px){
            margin-left: 0;
            width: 100%;
        }
    }
     .gray{
        @media screen and (max-width: 2000px){
            filter:grayscale(90%);
            cursor:pointer;
        }
    }
}

.nav-btn{
    position: absolute;
    z-index: 10;
    right: 10%;
    top: 5%;
    width: 4rem;
    height: 4rem;
    display: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .lines-1, .lines-2, .lines-3{
        height: .4rem;
        width: 100%;
        background-color: #3858cc;
        pointer-events: none;
        display: none;
        border-radius: 20px;
        &:not(:last-child){
            margin-bottom: .5rem;
        }
    }
    @media screen and (max-width: 1000px){
        display: block;
        .lines-1, .lines-2, .lines-3{
            display: block;
        }
    }
}