.PortfolioPage{
     margin:0px;
     padding:0px;
      
    .title{

    }
    .portfolios{
        .portfolis{
        display:grid;
        grid-template-columns:repeat(2,1fr);
            .portfolio{
               .image-data{
                        position: relative;
                     &::before{
                        content: "";
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        height: calc(100%);
                        width: calc(100%);
                        background-color: rgba(255, 255, 255, 0.664);
                        transform-origin: center;
                        transform: scale(0);
                        transition: all .4s ease-in-out;
                            @media screen and (max-width:800px){
                         display:none;
                }

                    }
                    &:hover::before{
                        transform:scale(0.7)
                    }
                    img{
                        width:100%;
                        height:100%;
                    }
                 .hover-items{
               
                list-style: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 1rem 2rem;
                visibility: hidden;
              
                li{
                    a{
                        padding: 1rem;
                        text-decoration: none;
                        font-family: inherit;
                        border-radius: 3px;
                        width:40%;
                        height:40%;
                        background-color: #037FFF;
                        color: white;
                        &:not(:last-child){
                            margin-right: 2rem;
                        }
                    }
                }
                      @media screen and (max-width:800px){
                         display:none;
                }
            }
    
            &:hover{
                .hover-items{
                    transition: all .5s ease-in-out .2s;
                    visibility: visible;
                    top: 50%;
                }
              
            }
                }
            }
                 h5{
                     margin-top:12px;
                    font-size:24px;
                    color:white;
                    font-weight:400;
                    transition:all 0.3s ease-in-out;
                    &:hover{
                        color:blue;
                        cursor:pointer;

                }
                }
        }
       

    }
}
.buttons{
    width:100%;
    margin: 25px 10px;
    display:flex;
    justify-content:center;
    align-items:center;

    .btn-port{
    padding:10px 20px;
    outline:none;
    background:white;
    font-size:14px;
    color:black;
    cursor:pointer;
    margin:5px;
    border:none;
    border-radius:4px;
    transition:all 0.4s ease;
    &:hover{
        background-color:rgb(235, 235, 235);
    }
    &:active{
        background-color:rgb(206, 76, 76);
        
    }
       &:focus{
        background-color:rgb(67, 36, 167);
            color:white;

    }

}
}
