@import 'config';
@import 'utilities';
@import 'form';

*{
    box-sizing:border-box;
    margin:0;
    padding:0px;
}
html{
    font-size:10px;
}
body{
    font-family: 'Ubuntu', sans-serif;    font-size:1.5rem;
    line-height: 16px;
    color:#222;
    background-color: rgb(241, 241, 241);

}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    border-bottom:2px solid $primary-color;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
    position:fixed;
    top:0;
    ul{
        display:flex;
        a{
            padding:0.4rem;
            color:white;
            &:hover{
                color:$primary-color
            }
        }
    }
}
ul{
    list-style:none;
}

a{
    color:$primary-color;
        text-decoration: none;
        // color:white;
        
}
img{
    width:100%;
}
// landing class
.landing{
    position:relative;
    background:url(../img/wood-background.jpg) no-repeat center ;
    height:100vh;
    &-inner{
        color:white;
        height:100%;
        display:flex;
        flex-direction: column;
        width:80;
        margin:0 auto;
        align-items:center;
        justify-content: center;
        text-align: center;
    }
    
}

// profile page
.round-img{
    border-radius:50%;
}
.profile{
    display:grid;
    grid-template-columns: 2fr 4fr 2fr;
    align-items: center;
    grid-gap: 2rem;
    padding:1rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
}

// profile
.profile-grid{
    display:grid;
    grid-template-areas:
    'top top'
    'about about'
'exp edu'
'github github';
grid-gap:1rem;
    .profile-top{
        grid-area:top;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        img{
            width:200px;
        }
        .icons a{
            color:white;
            margin:0 1rem;
            transition: all 0.2s ease-in-out;
            &:hover{
                color:$dark-color
            }
        }
    }
    .profile-about{
        grid-area:about;
        text-align: center;
        .skills{
            display:flex;
            justify-content: center;
            align-items: ce;
        }
    }
    .profile-exp{
        grid-area:exp;
    }
    .profile-edu{
        grid-area:edu;
    }

    .profile-exp,
    .profile-edu{
        &>div{
            margin-bottom:1rem;
        border-bottom: 1px solid rgb(151, 146, 146);
        padding-bottom: 2rem;
        &:last-child{
            border:none;
        }
          p{
            margin:0.5rem 0;
        }
        }
      
        
    }



      .profile-github{
        grid-area:github;
        .repo{
            display:flex;
            &>div:first-child{
             flex:7;
             flex-basis:70%;
            }
             &>div:last-child{
             flex:2;
             flex-basis:20%;
            }
        }
    }
}

// posts

.post-form-header{
    font-size: 3rem;
    padding:1rem;
    line-height: 3rem;
}
.post{
    display:grid;
    grid-template-columns: 1fr 4fr;
    // grid-gap: 0.5rem;
    align-items:center;
    &>div:first-child{
        text-align: center;
        padding:2rem;
    }
    img{
        width:133px;
    }
}

@import 'mobile';

